*{
    margin: 0px;
    padding: 0px;
}

@font-face {
  font-family: 'GetSchwifty';
  src: url('assets/get_schwifty.ttf') format('truetype');
  
}

#headerDiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

#headerTitle{
  z-index: 3;
  color:rgb(23, 29, 23);
  padding: 0px;
  margin: 0px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; 
  left: 50%; 
  font-family: GetSchwifty;
  font-size:8.5em;
  text-shadow: 
  -2px -2px 0 rgb(177, 244, 8),  
  2px -2px 0 rgb(177, 244, 8),
  -2px 2px 0 rgb(177, 244, 8),
  2px 2px 0 rgb(177, 244, 8);
}

#portalImg{
  padding: 0px;
  margin: 0px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%; 
  left: 35%;  
  z-index: 2;
  animation: spin 10s linear infinite; 
  max-width: 70%; 
  max-height: 70%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg); 
  }
}


#headerImgDiv{
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#headerImg{
  z-index: 1;
  width: 100vw;
}


.blueButton {
  z-index: 5;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: GetSchwifty;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.blueButton:focus {
  outline: 0;
}

.blueButton:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.blueButton:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .blueButton {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}